{% extends "base.html" %}

{% block main %}
<h1>Jerome Cameron</h1>
<h4>@jimmy</h4>
<h4>Kingston, Jamaica</h4>
<h4>Joined February 2019</h4>

<p>I am a part time student persuing a degree in Computer Science always looking for the next best thing</p>

<div id = "details">
    <div class = "items">
        <h3>Post</h3>
        <h4>56</h4>
    </div>

    <div class = "items">
        <h3>Following</h3>
        <h4>80</h4>
    </div>

    <div class = "items">
        <h3>Followers</h3>
        <h4>340</h4>
    </div>
</div>

{% endblock %}